.audit .topnav {height: 40px;border-bottom: 1px solid #0c96e5;overflow: visible;}
.audit .topnav ul{overflow: visible;}
.audit .topnav ul a{width: auto;height: 39px;line-height: 39px;padding: 0 20px;border: none;border-right: 1px solid #fff;background-color: #cce8f8;}
.audit .topnav ul a.active{position: relative;top: -3px;height: 43px;border: 1px solid #0092e5;border-top-width: 3px;
border-bottom: none;background: #fff;color:#0092e5;}